In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from matplotlib import pyplot as plt

In [6]:
#Read/Use Clean DataFrame
person_df = pd.read_csv("../person.CSV")
vehicle_df = pd.read_csv("../vehicle.CSV")
accident_df = pd.read_csv("../accident.CSV")
distract_df = pd.read_csv("../distract.CSV")

In [7]:
#Checking person dataframe
person_df.head()

,CASENUM,VE_FORMS,VEH_NO,PER_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,...,INJSEV_IM,INJSEV_IMNAME,EJECT_IM,EJECT_IMNAME,PERALCH_IM,PERALCH_IMNAME,SEAT_IM,SEAT_IMNAME,AGE_IM,AGE_IMNAME
0,201901174219,1,1,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",39,39 Years
1,201901176655,2,1,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),11,"Front Seat, Left Side",20,20 Years
2,201901176655,2,1,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,1,Possible Injury (C),0,Not Ejected,0,No (Alcohol Not Involved),13,"Front Seat, Right Side",19,19 Years
3,201901176655,2,1,3,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),13,"Front Seat, Right Side",47,47 Years
4,201901176655,2,1,4,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,...,0,No Apparent Injury (O),0,Not Ejected,0,No (Alcohol Not Involved),21,"Second Seat, Left Side",39,39 Years

In [8]:
#Only keeping certain columns from person dataframe
people_df = person_df[['CASENUM', 'PER_NO', 'SEXNAME', 'AGE', 'AIR_BAGNAME', 'DRINKINGNAME', 'REST_USENAME']]
people_df.head()

,CASENUM,PER_NO,SEXNAME,AGE,AIR_BAGNAME,DRINKINGNAME,REST_USENAME
0,201901174219,1,Male,39,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used
1,201901176655,1,Male,20,Not Deployed,Not Reported,Shoulder and Lap Belt Used
2,201901176655,2,Male,19,Not Deployed,Not Reported,None Used/Not Applicable
3,201901176655,3,Male,999,Not Deployed,Not Reported,Reported as Unknown
4,201901176655,4,Male,999,Not Deployed,Not Reported,Reported as Unknown

In [9]:
#Checking vehicle dataframe
vehicle_df.head()

,CASENUM,VEH_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,...,VEVENT_IM,VEVENT_IMNAME,PCRASH1_IM,PCRASH1_IMNAME,MXVSEV_IM,MXVSEV_IMNAME,NUMINJ_IM,NUMINJ_IMNAME,V_ALCH_IM,V_ALCH_IMNAME
0,201901174219,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,...,1,Rollover/Overturn,3,Accelerating in Road,0,No Apparent Injury (O),0,No Person Injured in Vehicle,2,No Alcohol Involved
1,201901176655,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,...,12,Motor Vehicle In-Transport,1,Going Straight,1,Possible Injury (C),1,1,2,No Alcohol Involved
2,201901176655,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,...,12,Motor Vehicle In-Transport,1,Going Straight,1,Possible Injury (C),1,1,2,No Alcohol Involved
3,201901176667,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,...,12,Motor Vehicle In-Transport,15,Changing Lanes,2,Suspected Minor Injury (B),1,1,1,Alcohol Involved
4,201901176667,2,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,...,12,Motor Vehicle In-Transport,11,Turning Left,1,Possible Injury (C),1,1,2,No Alcohol Involved

In [10]:
#Creating new vehicle dataframe with only certain columns
new_vehicle_df = vehicle_df[['CASENUM', 'VEH_NO', 'MAKENAME', 'MAK_MODNAME', 'MOD_YEAR', 'TRAV_SPNAME']]
new_vehicle_df.head()

,CASENUM,VEH_NO,MAKENAME,MAK_MODNAME,MOD_YEAR,TRAV_SPNAME
0,201901174219,1,Ford,Ford Ranger,2006,Not Reported
1,201901176655,1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,Not Reported
2,201901176655,2,Honda,Honda CR-V,2006,Not Reported
3,201901176667,1,Nissan/Datsun,Nissan/Datsun Xterra,2000,040 MPH
4,201901176667,2,Chevrolet,"Chevrolet C, K, R, V-series pickup/Silverado",1979,Not Reported

In [11]:
#Checking accident dataframe
accident_df.head()

,CASENUM,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,...,LGTCON_IM,LGTCON_IMNAME,WEATHR_IM,WEATHR_IMNAME,MAXSEV_IM,MAXSEV_IMNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCHL_IM,ALCHL_IMNAME
0,201901174219,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,Rural Area,...,1,Daylight,10,Cloudy,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
1,201901176655,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,Rural Area,...,3,Dark - Lighted,1,Clear,1,Possible Injury (C),2,2,2,No Alcohol Involved
2,201901176667,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,Urban Area,...,3,Dark - Lighted,1,Clear,2,Suspected Minor Injury (B),2,2,1,Alcohol Involved
3,201901176694,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,3,Dark - Lighted,1,Clear,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
4,201901176702,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,1,Daylight,1,Clear,1,Possible Injury (C),1,1,2,No Alcohol Involved

In [12]:
#Creating new accident dataframe with only certain columns
new_accident_df = accident_df[['CASENUM', 'STRATUMNAME', 'REGIONNAME', 'URBANICITY', 'MONTHNAME', 'ALCOHOLNAME', 'HARM_EVNAME', 'WEATHERNAME',
                      'HOUR', 'REL_ROADNAME', 'MAN_COLLNAME', 'MAX_SEVNAME']]
new_accident_df.head()

,CASENUM,STRATUMNAME,REGIONNAME,URBANICITY,MONTHNAME,ALCOHOLNAME,HARM_EVNAME,WEATHERNAME,HOUR,REL_ROADNAME,MAN_COLLNAME,MAX_SEVNAME
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,No Alcohol Involved,Curb,Cloudy,8,On Median,The First Harmful Event was Not a Collision wi...,No Apparent Injury (O)
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C)
2,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,Alcohol Involved,Motor Vehicle In-Transport,Clear,5,On Roadway,Angle,Suspected Minor Injury (B)
3,201901176694,Stratum 9 - LMY PV No Injuries in Crash,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,No Alcohol Involved,Traffic Sign Support,Clear,4,On Roadside,The First Harmful Event was Not a Collision wi...,No Apparent Injury (O)
4,201901176702,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,No Alcohol Involved,Motor Vehicle In-Transport,Clear,9,On Roadway,Angle,Possible Injury (C)

In [13]:
#Checking distract dataframe
distract_df.head()

,CASENUM,VEH_NO,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,MDRDSTRD,MDRDSTRDNAME,PSUSTRAT,WEIGHT
0,201901174219,1,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,Rural Area,0,Not Distracted,19,203.665120
1,201901176655,1,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,Rural Area,96,Not Reported,16,59.073459
2,201901176655,2,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,Rural Area,96,Not Reported,16,59.073459
3,201901176667,1,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,Urban Area,93,"Inattention (Inattentive), Details Unknown",13,133.664224
4,201901176667,2,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,Urban Area,96,Not Reported,13,133.664224

In [14]:
#Creating new distract dataframe with only certain columns
new_distract_df = distract_df[['CASENUM', 'VEH_NO', 'MDRDSTRDNAME']]
new_distract_df.head()

        CASENUM  VEH_NO                                MDRDSTRDNAME
0  201901174219       1                              Not Distracted
1  201901176655       1                                Not Reported
2  201901176655       2                                Not Reported
3  201901176667       1  Inattention (Inattentive), Details Unknown
4  201901176667       2                                Not Reported

In [15]:
#Merging the new accident and vehicle dataframes together
data1_df = new_accident_df.merge(new_vehicle_df, on='CASENUM')
data1_df.head()

,CASENUM,STRATUMNAME,REGIONNAME,URBANICITY,MONTHNAME,ALCOHOLNAME,HARM_EVNAME,WEATHERNAME,HOUR,REL_ROADNAME,MAN_COLLNAME,MAX_SEVNAME,VEH_NO,MAKENAME,MAK_MODNAME,MOD_YEAR,TRAV_SPNAME
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,No Alcohol Involved,Curb,Cloudy,8,On Median,The First Harmful Event was Not a Collision wi...,No Apparent Injury (O),1,Ford,Ford Ranger,2006,Not Reported
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C),1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,Not Reported
2,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C),2,Honda,Honda CR-V,2006,Not Reported
3,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,Alcohol Involved,Motor Vehicle In-Transport,Clear,5,On Roadway,Angle,Suspected Minor Injury (B),1,Nissan/Datsun,Nissan/Datsun Xterra,2000,040 MPH
4,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,Alcohol Involved,Motor Vehicle In-Transport,Clear,5,On Roadway,Angle,Suspected Minor Injury (B),2,Chevrolet,"Chevrolet C, K, R, V-series pickup/Silverado",1979,Not Reported

In [16]:
#Merging the new distract dataframe into information
data2_df = data1_df.merge(new_distract_df, on='CASENUM')
data2_df.head()

,CASENUM,STRATUMNAME,REGIONNAME,URBANICITY,MONTHNAME,ALCOHOLNAME,HARM_EVNAME,WEATHERNAME,HOUR,REL_ROADNAME,MAN_COLLNAME,MAX_SEVNAME,VEH_NO_x,MAKENAME,MAK_MODNAME,MOD_YEAR,TRAV_SPNAME,VEH_NO_y,MDRDSTRDNAME
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,No Alcohol Involved,Curb,Cloudy,8,On Median,The First Harmful Event was Not a Collision wi...,No Apparent Injury (O),1,Ford,Ford Ranger,2006,Not Reported,1,Not Distracted
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C),1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,Not Reported,1,Not Reported
2,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C),1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,Not Reported,2,Not Reported
3,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C),2,Honda,Honda CR-V,2006,Not Reported,1,Not Reported
4,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,Angle,Possible Injury (C),2,Honda,Honda CR-V,2006,Not Reported,2,Not Reported

In [17]:
#Merging people dataframe into final dataframe
data_df = data2_df.merge(people_df, on='CASENUM')
data_df.head()

,CASENUM,STRATUMNAME,REGIONNAME,URBANICITY,MONTHNAME,ALCOHOLNAME,HARM_EVNAME,WEATHERNAME,HOUR,REL_ROADNAME,...,MOD_YEAR,TRAV_SPNAME,VEH_NO_y,MDRDSTRDNAME,PER_NO,SEXNAME,AGE,AIR_BAGNAME,DRINKINGNAME,REST_USENAME
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,No Alcohol Involved,Curb,Cloudy,8,On Median,...,2006,Not Reported,1,Not Distracted,1,Male,39,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,...,2015,Not Reported,1,Not Reported,1,Male,20,Not Deployed,Not Reported,Shoulder and Lap Belt Used
2,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,...,2015,Not Reported,1,Not Reported,2,Male,19,Not Deployed,Not Reported,None Used/Not Applicable
3,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,...,2015,Not Reported,1,Not Reported,3,Male,999,Not Deployed,Not Reported,Reported as Unknown
4,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,...,2015,Not Reported,1,Not Reported,4,Male,999,Not Deployed,Not Reported,Reported as Unknown

In [18]:
#Removing duplicate case number rows
data_df = data_df.drop_duplicates(subset=['CASENUM'])
data_df.head()

,CASENUM,STRATUMNAME,REGIONNAME,URBANICITY,MONTHNAME,ALCOHOLNAME,HARM_EVNAME,WEATHERNAME,HOUR,REL_ROADNAME,...,MOD_YEAR,TRAV_SPNAME,VEH_NO_y,MDRDSTRDNAME,PER_NO,SEXNAME,AGE,AIR_BAGNAME,DRINKINGNAME,REST_USENAME
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,No Alcohol Involved,Curb,Cloudy,8,On Median,...,2006,Not Reported,1,Not Distracted,1,Male,39,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,...,2015,Not Reported,1,Not Reported,1,Male,20,Not Deployed,Not Reported,Shoulder and Lap Belt Used
25,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,Alcohol Involved,Motor Vehicle In-Transport,Clear,5,On Roadway,...,2000,040 MPH,1,"Inattention (Inattentive), Details Unknown",1,Male,37,Not Deployed,Yes (Alcohol Involved),Shoulder and Lap Belt Used
33,201901176694,Stratum 9 - LMY PV No Injuries in Crash,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,No Alcohol Involved,Traffic Sign Support,Clear,4,On Roadside,...,2016,040 MPH,1,Not Distracted,1,Male,26,Deployed- Front,No (Alcohol Not Involved),None Used/Not Applicable
34,201901176702,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,No Alcohol Involved,Motor Vehicle In-Transport,Clear,9,On Roadway,...,2001,005 MPH,1,Reported as Unknown if Distracted,1,Male,56,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used

In [19]:
#Checking columns
data_df.columns

Index(['CASENUM', 'STRATUMNAME', 'REGIONNAME', 'URBANICITY', 'MONTHNAME',
       'ALCOHOLNAME', 'HARM_EVNAME', 'WEATHERNAME', 'HOUR', 'REL_ROADNAME',
       'MAN_COLLNAME', 'MAX_SEVNAME', 'VEH_NO_x', 'MAKENAME', 'MAK_MODNAME',
       'MOD_YEAR', 'TRAV_SPNAME', 'VEH_NO_y', 'MDRDSTRDNAME', 'PER_NO',
       'SEXNAME', 'AGE', 'AIR_BAGNAME', 'DRINKINGNAME', 'REST_USENAME'],
      dtype='object')

In [20]:
#Deleting repeating columns
del data_df['VEH_NO_y']

In [21]:
#Checking Columns again
data_df.columns

Index(['CASENUM', 'STRATUMNAME', 'REGIONNAME', 'URBANICITY', 'MONTHNAME',
       'ALCOHOLNAME', 'HARM_EVNAME', 'WEATHERNAME', 'HOUR', 'REL_ROADNAME',
       'MAN_COLLNAME', 'MAX_SEVNAME', 'VEH_NO_x', 'MAKENAME', 'MAK_MODNAME',
       'MOD_YEAR', 'TRAV_SPNAME', 'MDRDSTRDNAME', 'PER_NO', 'SEXNAME', 'AGE',
       'AIR_BAGNAME', 'DRINKINGNAME', 'REST_USENAME'],
      dtype='object')

In [22]:
#Renaming columns
data_rename_df = data_df.rename(columns={"CASENUM": "Case Number", "STRATUMNAME": "Crash Description", "REGIONNAME": "Region", "URBANICITY": "Urban or City",
                       "MONTHNAME":"Month", "ALCOHOLNAME":"Alcohol Involved?", "HARM_EVNAME":"Harmful Event", "WEATHERNAME":"Weather",
                       "HOUR":"Hour of Day", "REL_ROADNAME":"Position on Road", "MAN_COLLNAME":"Type of Collision", "VEH_NO_x":"Number of Vehicles",
                       "MAKENAME":"Make of Vehicle", "MAK_MODNAME":"Make/Model of Vehicle", "MOD_YEAR":"Year of Vehicle",
                        "TRAV_SPNAME":"Speed", "MDRDSTRDNAME":"Type of Distraction", "PER_NO":"Number of Persons", "SEXNAME":"Gender",
                        "AGE":"Age", "AIR_BAGNAME":"Air Bag Deployment", "REST_USENAME":"Restraint Usage",
                        "MAX_SEVNAME":"Severe Injury?"})
data_rename_df.head()

,Case Number,Crash Description,Region,Urban or City,Month,Alcohol Involved?,Harmful Event,Weather,Hour of Day,Position on Road,...,Make/Model of Vehicle,Year of Vehicle,Speed,Type of Distraction,Number of Persons,Gender,Age,Air Bag Deployment,Alcohol Involved?,Restraint Usage
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,No Alcohol Involved,Curb,Cloudy,8,On Median,...,Ford Ranger,2006,Not Reported,Not Distracted,1,Male,39,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",2,January,Reported as Unknown,Motor Vehicle In-Transport,Clear,2,On Roadway,...,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,Not Reported,Not Reported,1,Male,20,Not Deployed,Not Reported,Shoulder and Lap Belt Used
25,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,Alcohol Involved,Motor Vehicle In-Transport,Clear,5,On Roadway,...,Nissan/Datsun Xterra,2000,040 MPH,"Inattention (Inattentive), Details Unknown",1,Male,37,Not Deployed,Yes (Alcohol Involved),Shoulder and Lap Belt Used
33,201901176694,Stratum 9 - LMY PV No Injuries in Crash,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,No Alcohol Involved,Traffic Sign Support,Clear,4,On Roadside,...,Mazda Mazda3,2016,040 MPH,Not Distracted,1,Male,26,Deployed- Front,No (Alcohol Not Involved),None Used/Not Applicable
34,201901176702,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",1,January,No Alcohol Involved,Motor Vehicle In-Transport,Clear,9,On Roadway,...,Toyota Sequoia,2001,005 MPH,Reported as Unknown if Distracted,1,Male,56,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used

In [ ]:
#Code to clean speed column

In [23]:
data_rename_df.to_csv('merged_data.csv')

MACHINE LEARNING MODEL BELOW

In [ ]:
#Set features and target variables
X = data_rename_df.drop(columns=["Severe Injury?", "Speed", "Make/Model of Vehicle", "DRINKINGNAME"])

#Target variable is whether or not accident included a fatality
y = df['Severe Injury?']

In [ ]:
#Import dependencies for scaling the data
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

#Train/Test/Split data into training and testing groups
X_train, X_test, y_train, y_test = train_test_split(X, y)

#Fit scaler to the training set of features
scaler = StandardScaler().fit(X_train)

#Transforming both the training and testing datasets into scaled data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
#Use RandomForestClassifier on scaled data
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=500).fit(X_train_scaled, y_train)

In [ ]:
#Finding the most important features of the dataset
features1 = clf.feature_importances_
print(features1)
plt.bar(x = range(len(features1)), height=features1)
plt.show()

In [ ]:
# Use the following code to plot the most important features
features = sorted(zip(X.columns, features1), key = lambda x: x[1])
cols = [f[0] for f in features]
width = [f[1] for f in features]

fig, ax = plt.subplots()

fig.set_size_inches(5,20)
plt.margins(y=0.001)

ax.barh(y=cols, width=width)

plt.show()

In [ ]:
#Fitting most important features to a model
from sklearn.feature_selection import SelectFromModel
sel = SelectFromModel(clf)
sel.fit(X_train_scaled, y_train)
sel.get_support()

In [ ]:
#Training and testing the selected features
X_selected_train, X_selected_test, y_train, y_test = train_test_split(sel.transform(X), y)

In [ ]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1, sampling_strategy="auto").fit_resample(
    X_selected_train, y_train
)
Counter(y_resampled)

In [ ]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = model.predict(X_selected_test)
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))