This data comes from https://www.nhtsa.gov/crash-data-systems/crash-report-sampling-system
Information about naming conventions, and other information can be found https://static.nhtsa.gov/nhtsa/downloads/CRSS/Manuals/Analytical%20User%20Manual/2016-2019%20CRSS%20Analytical%20User%20Manual%20-%20DOT%20HS%20813%20022.pdf

In [1]:
# import dependencies
import pandas as pd
import os
import psycopg2
import config as creds
from sqlalchemy import create_engine
import re

In [21]:
db_string = f"postgresql://postgres:{creds.PGPASSWORD}@crashstats.crogg2abmvvo.us-east-2.rds.amazonaws.com/postgres"
engine = create_engine(db_string)

In [5]:
# import all the data
directory = r'Accidents_data'
files = {}
for filename in os.listdir(directory):
    if filename.endswith(".csv") or filename.endswith(".CSV"):
        files[filename[:-4]] = os.path.join(directory, filename)
        assert files[filename[:-4]] == os.path.join(directory, filename)
    else:
        continue
dfs = files.copy()

In [6]:
# Create a dictionary of the dataframes for easy referencing
for key in dfs:
    dfs[key] = pd.read_csv(dfs[key])

In [7]:
dfs['fatalities'].head()

,Unnamed: 0,Case Number,Month,Harmful Event,Weather,Hour of Day,Position on Road,Type of Collision,Make of Vehicle,Make/Model of Vehicle,...,Number of Deaths,Type of Distraction,State,Person Number,Gender,Age,Air Bag Deployment,Alcohol Status,Restraint Usage,Age Range
0,0,10001,February,Motor Vehicle In-Transport,Clear,12,On Roadway,Front-to-Rear,Toyota,Toyota Camry,...,1,Reported as Unknown if Distracted,Alabama,1,Female,34,Deployed- Front,No (Alcohol Not Involved),Shoulder and Lap Belt Used,30-34
1,1,10001,February,Motor Vehicle In-Transport,Clear,12,On Roadway,Front-to-Rear,Freightliner,Freightliner Medium/Heavy - CBE,...,0,Not Distracted,Alabama,1,Male,59,Not Deployed,Yes (Alcohol Involved),Lap Belt Only Used,30-34
2,2,10002,January,Motor Vehicle In-Transport,Rain,18,On Roadway,Front-to-Rear,BMW,BMW 3-series,...,1,Reported as Unknown if Distracted,Alabama,1,Female,42,Deployed- Front,Reported as Unknown,Reported as Unknown,30-34
3,3,10002,January,Motor Vehicle In-Transport,Rain,18,On Roadway,Front-to-Rear,Chevrolet,Chevrolet TrailBlazer (2003 on; for 2002 model...,...,0,Reported as Unknown if Distracted,Alabama,1,Female,54,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used,30-34
4,4,10003,January,Motor Vehicle In-Transport,Cloudy,19,On Roadway,Front-to-Rear,Acura,Acura RL/RLX,...,1,Reported as Unknown if Distracted,Alabama,1,Male,22,Deployed- Combination,Reported as Unknown,Shoulder and Lap Belt Used,30-34

In [8]:
fatalities_subset = dfs['fatalities'].drop("Unnamed: 0", axis =1)
fatalities_subset.columns = fatalities_subset.columns.str.lower()
fatalities_subset.head()

,case number,month,harmful event,weather,hour of day,position on road,type of collision,make of vehicle,make/model of vehicle,year of vehicle,...,number of deaths,type of distraction,state,person number,gender,age,air bag deployment,alcohol status,restraint usage,age range
0,10001,February,Motor Vehicle In-Transport,Clear,12,On Roadway,Front-to-Rear,Toyota,Toyota Camry,2009,...,1,Reported as Unknown if Distracted,Alabama,1,Female,34,Deployed- Front,No (Alcohol Not Involved),Shoulder and Lap Belt Used,30-34
1,10001,February,Motor Vehicle In-Transport,Clear,12,On Roadway,Front-to-Rear,Freightliner,Freightliner Medium/Heavy - CBE,2001,...,0,Not Distracted,Alabama,1,Male,59,Not Deployed,Yes (Alcohol Involved),Lap Belt Only Used,30-34
2,10002,January,Motor Vehicle In-Transport,Rain,18,On Roadway,Front-to-Rear,BMW,BMW 3-series,2003,...,1,Reported as Unknown if Distracted,Alabama,1,Female,42,Deployed- Front,Reported as Unknown,Reported as Unknown,30-34
3,10002,January,Motor Vehicle In-Transport,Rain,18,On Roadway,Front-to-Rear,Chevrolet,Chevrolet TrailBlazer (2003 on; for 2002 model...,2007,...,0,Reported as Unknown if Distracted,Alabama,1,Female,54,Not Deployed,No (Alcohol Not Involved),Shoulder and Lap Belt Used,30-34
4,10003,January,Motor Vehicle In-Transport,Cloudy,19,On Roadway,Front-to-Rear,Acura,Acura RL/RLX,2007,...,1,Reported as Unknown if Distracted,Alabama,1,Male,22,Deployed- Combination,Reported as Unknown,Shoulder and Lap Belt Used,30-34

In [15]:
# Setup Vehicle subset of data
cols_to_keep = ['CASENUM','VEH_NO','MAKENAME','MAK_MODNAME','MOD_YEAR', 'TRAV_SP']
vehicle_subset = dfs['vehicle'][cols_to_keep]
vehicle_subset.columns = vehicle_subset.columns.str.lower()
vehicle_subset.head(3)

,casenum,veh_no,makename,mak_modname,mod_year,trav_sp
0,201901174219,1,Ford,Ford Ranger,2006,998
1,201901176655,1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,998
2,201901176655,2,Honda,Honda CR-V,2006,998

In [17]:
# Setup Accident subset of data
cols_to_keep = ['CASENUM','STRATUMNAME','REGIONNAME','URBANICITYNAME',
               'MONTHNAME','HOUR','ALCOHOLNAME','WEATHERNAME','MAN_COLLNAME','HARM_EVNAME', 'REL_ROADNAME','MAX_SEVNAME']
accident_subset = dfs['accident'][cols_to_keep]
accident_subset.columns = accident_subset.columns.str.lower()
accident_subset.head(3)

,casenum,stratumname,regionname,urbanicityname,monthname,hour,alcoholname,weathername,man_collname,harm_evname,rel_roadname,max_sevname
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",Rural Area,January,8,No Alcohol Involved,Cloudy,The First Harmful Event was Not a Collision wi...,Curb,On Median,No Apparent Injury (O)
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",Rural Area,January,2,Reported as Unknown,Clear,Angle,Motor Vehicle In-Transport,On Roadway,Possible Injury (C)
2,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",Urban Area,January,5,Alcohol Involved,Clear,Angle,Motor Vehicle In-Transport,On Roadway,Suspected Minor Injury (B)

In [16]:
# Setup Person subset of data
cols_to_keep = ['CASENUM','VEH_NO','PER_NO','SEXNAME','AGE','AIR_BAGNAME','REST_USENAME','DRINKINGNAME']
person_subset = dfs['person'][cols_to_keep]
person_subset.columns = person_subset.columns.str.lower()
person_subset.head(10)

,casenum,veh_no,per_no,sexname,age,air_bagname,rest_usename,drinkingname
0,201901174219,1,1,Male,39,Not Deployed,Shoulder and Lap Belt Used,No (Alcohol Not Involved)
1,201901176655,1,1,Male,20,Not Deployed,Shoulder and Lap Belt Used,Not Reported
2,201901176655,1,2,Male,19,Not Deployed,None Used/Not Applicable,Not Reported
3,201901176655,1,3,Male,999,Not Deployed,Reported as Unknown,Not Reported
4,201901176655,1,4,Male,999,Not Deployed,Reported as Unknown,Not Reported
5,201901176655,2,1,Female,42,Not Deployed,Shoulder and Lap Belt Used,Not Reported
6,201901176655,2,2,Male,47,Not Deployed,Shoulder and Lap Belt Used,Not Reported
7,201901176667,1,1,Male,37,Not Deployed,Shoulder and Lap Belt Used,Yes (Alcohol Involved)
8,201901176667,2,1,Male,50,Not Deployed,Shoulder and Lap Belt Used,Not Reported
9,201901176694,1,1,Male,26,Deployed- Front,None Used/Not Applicable,No (Alcohol Not Involved)

In [18]:
# Setup Accident subset of data
cols_to_keep = ['CASENUM','VEH_NO','MDRDSTRDNAME']
distract_subset = dfs['distract'][cols_to_keep]
distract_subset = distract_subset.rename(columns={"MDRDSTRDNAME":"Distraction"})
distract_subset.columns = distract_subset.columns.str.lower()
distract_subset.head(3)

        casenum  veh_no     distraction
0  201901174219       1  Not Distracted
1  201901176655       1    Not Reported
2  201901176655       2    Not Reported

In [19]:
vehicle_subset.to_sql("vehicle", con=engine, index=False, if_exists='replace')

In [22]:
accident_subset.to_sql("accident", con=engine, index=False, if_exists='replace')

In [23]:
distract_subset.to_sql("distract", con=engine, index=False, if_exists='replace')

In [24]:
person_subset.to_sql("person", con=engine, index=False, if_exists='replace')

In [25]:
fatalities_subset.to_sql("fatalities", con=engine, index=False, if_exists='replace')

In [26]:
test_data = pd.read_sql_table("vehicledist", engine)
test_data.head(3)

,casenum,veh_no,makename,mak_modname,mod_year,trav_sp,distraction
0,201901176655,1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,998,Not Reported
1,201901176667,2,Chevrolet,"Chevrolet C, K, R, V-series pickup/Silverado",1979,998,Not Reported
2,201901176702,2,Toyota,Toyota Corolla,2018,5,Reported as Unknown if Distracted