This data comes from https://www.nhtsa.gov/crash-data-systems/crash-report-sampling-system
Information about naming conventions, and other information can be found https://static.nhtsa.gov/nhtsa/downloads/CRSS/Manuals/Analytical%20User%20Manual/2016-2019%20CRSS%20Analytical%20User%20Manual%20-%20DOT%20HS%20813%20022.pdf

In [1]:
# import dependencies
import pandas as pd
import os
import psycopg2
import config as creds
from sqlalchemy import create_engine
import re

In [2]:
db_string = f"postgresql://postgres:{creds.PGPASSWORD}@crashstats.crogg2abmvvo.us-east-2.rds.amazonaws.com/postgres"
engine = create_engine(db_string)

In [3]:
# import all the data
directory = r'Accidents_data'
files = {}
for filename in os.listdir(directory):
    if filename.endswith(".csv") or filename.endswith(".CSV"):
        files[filename[:-4]] = os.path.join(directory, filename)
        assert files[filename[:-4]] == os.path.join(directory, filename)
    else:
        continue
dfs = files.copy()

In [4]:
# Create a dictionary of the dataframes for easy referencing
for key in dfs:
    dfs[key] = pd.read_csv(dfs[key])

F:\Anaconda\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (45,47,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
F:\Anaconda\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (23,24,70,71) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
F:\Anaconda\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (26,27,74) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
dfs['ACCIDENT2018'].head()

,CASENUM,REGION,PSU,PJ,PSU_VAR,URBANICITY,STRATUM,VE_TOTAL,VE_FORMS,PVH_INVL,...,MANCOL_IM,RELJCT1_IM,RELJCT2_IM,LGTCON_IM,WEATHR_IM,MAXSEV_IM,NO_INJ_IM,ALCHL_IM,PSUSTRAT,WEIGHT
0,201800381338,4,56,208,208,1,9,4,4,0,...,1,0,1,1,1,0,0,2,20,187.193308
1,201800381366,4,56,214,214,1,7,3,3,0,...,1,0,1,1,1,1,1,2,20,149.787336
2,201800381374,4,56,214,214,1,6,2,2,0,...,7,0,1,2,1,1,2,2,20,76.421258
3,201800383118,4,56,209,209,1,10,2,2,0,...,6,0,2,1,10,1,1,2,20,265.232273
4,201800383942,4,64,306,64,1,6,2,2,0,...,7,0,1,1,10,1,1,2,23,78.134540

In [8]:
dfs['accident'].head()

,CASENUM,STRATUM,STRATUMNAME,REGION,REGIONNAME,PSU,PJ,PSU_VAR,URBANICITY,URBANICITYNAME,...,LGTCON_IM,LGTCON_IMNAME,WEATHR_IM,WEATHR_IMNAME,MAXSEV_IM,MAXSEV_IMNAME,NO_INJ_IM,NO_INJ_IMNAME,ALCHL_IM,ALCHL_IMNAME
0,201901174219,10,Stratum 10 - Other,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",75,4144,75,2,Rural Area,...,1,Daylight,10,Cloudy,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
1,201901176655,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",63,4135,63,2,Rural Area,...,3,Dark - Lighted,1,Clear,1,Possible Injury (C),2,2,2,No Alcohol Involved
2,201901176667,8,Stratum 8 - NLMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",65,4138,65,1,Urban Area,...,3,Dark - Lighted,1,Clear,2,Suspected Minor Injury (B),2,2,1,Alcohol Involved
3,201901176694,9,Stratum 9 - LMY PV No Injuries in Crash,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,3,Dark - Lighted,1,Clear,0,No Apparent Injury (O),0,No Person Injured/Property Damage Only Crash,2,No Alcohol Involved
4,201901176702,6,Stratum 6 - LMY PV Minor Injury,3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",12,4142,12,1,Urban Area,...,1,Daylight,1,Clear,1,Possible Injury (C),1,1,2,No Alcohol Involved

In [5]:
# Setup Vehicle subset of data
cols_to_keep = ['CASENUM','VEH_NO','MAKENAME','MAK_MODNAME','MOD_YEAR']
vehicle_subset = dfs['vehicle'][cols_to_keep]
vehicle_subset.columns = vehicle_subset.columns.str.lower()
vehicle_subset.head(3)

,casenum,veh_no,makename,mak_modname,mod_year
0,201901174219,1,Ford,Ford Ranger,2006
1,201901176655,1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015
2,201901176655,2,Honda,Honda CR-V,2006

In [6]:
# Setup Accident subset of data
cols_to_keep = ['CASENUM','STRATUMNAME','REGIONNAME','URBANICITYNAME',
               'MONTHNAME','HOUR','ALCOHOLNAME','WEATHERNAME','MAN_COLLNAME','HARM_EVNAME', 'REL_ROADNAME','MAX_SEVNAME']
accident_subset = dfs['accident'][cols_to_keep]
accident_subset.columns = accident_subset.columns.str.lower()
accident_subset.head(3)

,casenum,stratumname,regionname,urbanicityname,monthname,hour,alcoholname,weathername,man_collname,harm_evname,rel_roadname
0,201901174219,Stratum 10 - Other,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",Rural Area,January,8,No Alcohol Involved,Cloudy,The First Harmful Event was Not a Collision wi...,Curb,On Median
1,201901176655,Stratum 6 - LMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",Rural Area,January,2,Reported as Unknown,Clear,Angle,Motor Vehicle In-Transport,On Roadway
2,201901176667,Stratum 8 - NLMY PV Minor Injury,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",Urban Area,January,5,Alcohol Involved,Clear,Angle,Motor Vehicle In-Transport,On Roadway

In [7]:
# Setup Person subset of data
cols_to_keep = ['CASENUM','VEH_NO','PER_NO','SEXNAME','AGE','AIR_BAGNAME','REST_USENAME']
person_subset = dfs['person'][cols_to_keep]
person_subset.columns = person_subset.columns.str.lower()
person_subset.head(10)

,casenum,veh_no,per_no,sexname,age,air_bagname,rest_usename
0,201901174219,1,1,Male,39,Not Deployed,Shoulder and Lap Belt Used
1,201901176655,1,1,Male,20,Not Deployed,Shoulder and Lap Belt Used
2,201901176655,1,2,Male,19,Not Deployed,None Used/Not Applicable
3,201901176655,1,3,Male,999,Not Deployed,Reported as Unknown
4,201901176655,1,4,Male,999,Not Deployed,Reported as Unknown
5,201901176655,2,1,Female,42,Not Deployed,Shoulder and Lap Belt Used
6,201901176655,2,2,Male,47,Not Deployed,Shoulder and Lap Belt Used
7,201901176667,1,1,Male,37,Not Deployed,Shoulder and Lap Belt Used
8,201901176667,2,1,Male,50,Not Deployed,Shoulder and Lap Belt Used
9,201901176694,1,1,Male,26,Deployed- Front,None Used/Not Applicable

In [8]:
# Setup Accident subset of data
cols_to_keep = ['CASENUM','VEH_NO','MDRDSTRDNAME']
distract_subset = dfs['distract'][cols_to_keep]
distract_subset = distract_subset.rename(columns={"MDRDSTRDNAME":"Distraction"})
distract_subset.columns = distract_subset.columns.str.lower()
distract_subset.head(3)

        casenum  veh_no     distraction
0  201901174219       1  Not Distracted
1  201901176655       1    Not Reported
2  201901176655       2    Not Reported

In [14]:
vehicle_subset.to_sql("vehicle", con=engine, index=False, if_exists='replace')

In [ ]:
accident_subset.to_sql("accident", con=engine, index=False, if_exists='replace')

In [ ]:
distract_subset.to_sql("distract", con=engine, index=False, if_exists='replace')

In [ ]:
person_subset.to_sql("person", con=engine, index=False, if_exists='replace')

In [9]:
test_data = pd.read_sql_table("vehicledist", engine)
test_data.head(3)

,casenum,veh_no,makename,mak_modname,mod_year,distraction
0,201901176655,1,Dodge,Dodge Dart (2013 on. See model 001 for 1960-19...,2015,Not Reported
1,201901176667,2,Chevrolet,"Chevrolet C, K, R, V-series pickup/Silverado",1979,Not Reported
2,201901176702,2,Toyota,Toyota Corolla,2018,Reported as Unknown if Distracted